aws_region = "us-east-2"
project_name = "chess-glicko"
notification_email = "yeticarlken@gmail.com"
schedule_expression = "cron(0 10 1 * ? *)"
task_cpu = "1024"     # 1 vCPU
task_memory = "2048"  # 2GB RAM
environment = "prod"